@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply bg-white dark:bg-zinc-900;
  }
}
.hiddenScroll::-webkit-scrollbar {
  display: none;
}

.hiddenScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wallet-btn {
  background-color: #535f8b !important;
  color: white !important;
  border-radius: 25px !important;
  padding: 0 35px !important;
  transition: ease-out 0.2s !important;
}

.wallet-btn:hover {
  background-color: #535f8bd3 !important;
  color: white !important;
}
